.aboutUs_section {
    display: flex;
    .decoration {
        margin: 0;
    }
}

.aboutUs_container {
    width: 50%;
    background-color: $color-gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs_img {
    background: url('/assets/People.jpg');
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: auto 100%;
}